@model IEnumerable<HomeViewModel>

<h1>Добре дошли в нашия магазин!</h1>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-12">
            <h2>@item.AnimalType - @item.CategoryName</h2>
            <div class="row">
                @foreach (var product in item.Products)
                {
                    <div class="col-md-4">
                        <div class="card mb-4">
                            <img src="@Url.Content(product.ImageUrl)" class="card-img-top" alt="@product.Name">
                            <div class="card-body">
                                <h5 class="card-title">@product.Name</h5>
                                <p class="card-text">@product.Description</p>
                                <p class="card-text">Цена: @product.Price</p>
                                <a href="@Url.Action("Details", "Product", new { id = product.Id })" class="btn btn-primary">Преглед</a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    }
</div>