@model CategoryViewModel

<h2>@Model.Name</h2>
<p>@Model.Description</p>

<h3>Products</h3>
@if (Model.Products.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model.Products)
            {
                <tr>
                    <td>@product.Name</td>
                    <td>@product.Price</td>
                    <td>
                        <a asp-controller="Product" asp-action="Details" asp-route-id="@product.Id" class="btn btn-primary">Повече информация</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No products found for this category.</p>
}