@model ProductViewModel

<div class="card">
    <div class="card-img-container">
        <img src="@Url.Content(Model.ImageUrl)" class="card-img-top" alt="@Model.Name">
    </div>
    <div class="card-body">
        <h2 class="card-title">@Model.Name</h2>
        <p class="card-text">Цена: @Model.Price</p>
        <p class="card-text">@Model.Description</p>

        <div class="form-group">
            <label for="quantity">Количество:</label>           
        </div>
        <div class="form-group">
            <label>Налично количество: @Model.Quantity</label>
        </div>
        <form>
            <input type="hidden" name="productId" value="@Model.Id" />
            <input type="number" id="quantity" name="quantity" min="1" value="1" class="form-control" />
            <button asp-action="AddToCart" asp-controller="Cart" id="addToCart" type="submit" class="btn btn-primary">Добави в количка</button>
        </form>
    </div>
</div>


<style>
    .card-img-container {
        height: 300px; /* Увеличете височината според нуждите */
        overflow: hidden;
    }

    .card-img-top {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
</style>